<a href="https://colab.research.google.com/github/JebaMercy14/AI-Spartificial-Course/blob/main/List_%2C_Tuple_and_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List (Continued)

## List unpacking

Unpacking assigns elements of the list to multiple variables.

In [1]:
colors = ['purple', 'cyan', 'black']

p, c, b = colors

print(p)
print(c)
print(b)

purple
cyan
black

In [2]:
p1, c1, *other = colors

print(p1)
print(c1)
print(other)

purple
cyan
['black']

In [3]:
colors.append('blue')

p2, c2, *other = colors

print(p1)
print(c1)
print(other)

purple
cyan
['black', 'blue']

#### Iterate over lists

In [4]:
flowers = ['tulip', 'rose', 'sage', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather', 'yolanda']

for flower in flowers:
  print(flower)

tulip
rose
sage
lily
iris
daisy
orchid
jasmine
poppy
ivy
violet
holly
heather
yolanda

In [5]:
for item in enumerate(flowers):
  print(item)

# this returns tuples

(0, 'tulip')
(1, 'rose')
(2, 'sage')
(3, 'lily')
(4, 'iris')
(5, 'daisy')
(6, 'orchid')
(7, 'jasmine')
(8, 'poppy')
(9, 'ivy')
(10, 'violet')
(11, 'holly')
(12, 'heather')
(13, 'yolanda')

In [6]:
# what is we want the index and the flower separately?

for idx, flower in enumerate(flowers):
  print(f'{idx}: {flower}')

0: tulip
1: rose
2: sage
3: lily
4: iris
5: daisy
6: orchid
7: jasmine
8: poppy
9: ivy
10: violet
11: holly
12: heather
13: yolanda

#### Index of a particular flower! or element..

In [7]:
flowers.index('ivy')

9

In [8]:
flowers.index('hibiscus')

ValueError: ignored

In [9]:
to_find = 'hibiscus'

if to_find in flowers:
  print(flowers.index(to_find))
else:
  print(f'{to_find} is not found in the flowers list !')

hibiscus is not found in the flowers list !

#### Python Iterables


In Python, an iterable is an object that includes zero, one, or many elements. 

An iterable has the ability to return its elements one at a time.

Because of this feature, you can use a for loop to iterate over an iterable.

In [10]:
# range function is an iterable

for idx in range(3):
    print(idx)

0
1
2

In [11]:
# every string is an iterable

my_favorite_language = 'my_favorite_language'

for ch in my_favorite_language:
  print(ch)

m
y
_
f
a
v
o
r
i
t
e
_
l
a
n
g
u
a
g
e

In [12]:
# so are lists!

for flower in flowers:
  print(flower)

tulip
rose
sage
lily
iris
daisy
orchid
jasmine
poppy
ivy
violet
holly
heather
yolanda

In [13]:
flowers_iter = iter(flowers)

next_flower = next(flowers_iter)
print(next_flower)

tulip

In [14]:
next_flower = next(flowers_iter)
print(next_flower)

# Every time, you call the next() function, it returns the next element in the iterable.

rose

In [15]:
# Once you complete looping over an iterator, the iterator becomes empty. 
# If you iterate over it again, it’ll return nothing.

colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

# cause an exception
color = next(colors_iter)
print(color)

red
green
blue

StopIteration: ignored

Since you can iterate over an iterator, the iterator is also an iterable object.

In [16]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

#### Lambda, Map, Reduce, Filter

Lambda

1. Lambda expressions are used to create anonymous functions - that have no names and are called just once.

2. They can have multiple arguments, but only one expression.

3. Usually look like: `lambda parameters: expression`

In [17]:
# Use Case 1 - One-off Functions

# Remember name_age : name_age[1] from yesterday?!

In [18]:
# Use Case 2 - Functions returning functions

def times(n):
    return lambda x: x * n

In [19]:
doubler = times(2)
print(doubler)

<function times.<locals>.<lambda> at 0x7f5b8c0c19d0>

In [20]:
two_times_3 = doubler(3)
print(two_times_3)

6

In [21]:
tripler = times(3)
three_times_4 = tripler(4)
print(three_times_4)

12

Map - transformation of an entire list.

It calls a function on every item of a list and returns an iterator.

In [22]:
my_marks = [80, 91, 78, 100, 87]

my_new_marks = []

for mark in my_marks:
    my_new_marks.append(mark*2)

print(my_new_marks)

[160, 182, 156, 200, 174]

In [23]:
my_new_marks_1 = map(lambda mark: mark*2, my_marks)
print(list(my_new_marks_1))

[160, 182, 156, 200, 174]

In [24]:
# applying map to strings

problems = ['finish College', 'Pay rent', 'study for EXAM']

big_problems = map(lambda problem:problem.upper(), problems)
print(list(big_problems))

['FINISH COLLEGE', 'PAY RENT', 'STUDY FOR EXAM']

In [25]:
small_problems = map(lambda problem:problem.lower(), problems)
print(list(small_problems))

['finish college', 'pay rent', 'study for exam']

In [26]:
# applying map to tuples

costs = [['Samsung', 400],
         ['Toshiba', 450],
         ['Lenovo', 700]]

tax = 0.1

costs = map(lambda item: [item[0], item[1], item[1] * tax], costs)

print(list(costs))

# costs = list(map(lambda item: [item[0], item[1], item[1] * tax], costs))
# print(costs)
# costs

[['Samsung', 400, 40.0], ['Toshiba', 450, 45.0], ['Lenovo', 700, 70.0]]

The filter() function iterates over the elements of the list and applies the fn() function to each element. 

It returns an iterator for the elements where the fn() returns True.

```
filter(fn, list)
```

In [27]:
my_marks = [80, 51, 78, 60, 87]

good_marks = []

for mark in my_marks:
  if mark > 60:
    good_marks.append(mark)

print(good_marks)

[80, 78, 87]

In [28]:
good_marks_1 = list(filter(lambda mark: mark > 60, my_marks))

good_marks_1

[80, 78, 87]

In [29]:
# filter on lists

countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]


populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

Reduce - to reduce a list of elements to one element.

In [30]:
my_marks = [80, 51, 78, 60, 87]

total = 0

for mark in my_marks:
    total += mark

print(total)

356

In [31]:
# Unlike the map() and filter() functions, the reduce() isn’t a built-in function in Python. 
# It belongs to the functools module.
from functools import reduce

def sum(a, b):
  print(f"a = {a}, b = {b}, {a} + {b} = {a+b}")
  return a + b

total = reduce(sum, my_marks)
total

a = 80, b = 51, 80 + 51 = 131
a = 131, b = 78, 131 + 78 = 209
a = 209, b = 60, 209 + 60 = 269
a = 269, b = 87, 269 + 87 = 356

356

The reduce() function cumulatively adds two elements of the list from left to right and reduces the whole list into a single value.

In [32]:
# we can define the sum function by a lambda exp

total = reduce(lambda a, b: a + b, my_marks)

print(total)

356

#### List Comprehensions

Use list comprehensions instead of map() or filter() to make your code more concise and readable.

In [33]:
my_marks = [80, 70, 100, 67, 89]

my_marks_squared = list(map(lambda mark:mark**2, my_marks))
print(my_marks_squared)

my_marks_squared_1 = [mark**2 for mark in my_marks]
print(my_marks_squared_1)

[6400, 4900, 10000, 4489, 7921]
[6400, 4900, 10000, 4489, 7921]

In [34]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [35]:
highest_mountains_1 = [m for m in mountains if m[1] > 8600]
print(highest_mountains_1)

[['K2', 8611], ['Everest', 8848]]

### Dictionary Data Structure

In [36]:
empty_dict = {}

In [37]:
planet_info = {
    'name' : 'Jupiter',
    'number_of_moons' : 79,
    'number_in_solar_system' : 'fifth',
    'life_support' : 'some moons have oceans with water',
    'others' : 'gas_giant, biggest_planet, eternal_storms'
}

In [38]:
planet_info['number_of_moons']

79

In [39]:
planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'some moons have oceans with water',
 'others': 'gas_giant, biggest_planet, eternal_storms'}

In [40]:
# we can change values 

planet_info['life_support'] = 'Nothing concrete we know of so far'

In [41]:
planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'Nothing concrete we know of so far',
 'others': 'gas_giant, biggest_planet, eternal_storms'}

In [42]:
# we cannot change keys

planet_info['planet_name'] = 'Jupiter'
planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'Nothing concrete we know of so far',
 'others': 'gas_giant, biggest_planet, eternal_storms',
 'planet_name': 'Jupiter'}

In [43]:
del planet_info['planet_name']

In [44]:
planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'Nothing concrete we know of so far',
 'others': 'gas_giant, biggest_planet, eternal_storms'}

In [45]:
moons = planet_info.get('number_of_moons')
moons

79

In [46]:
# It returns the '0-00-000' string if the ssn key doesn’t exist in the dictionary:

storms = planet_info.get('storms', '0-00-000')
storms

'0-00-000'

In [47]:
# looping through a dictionary

for key, value in planet_info.items():
    print(f"{key}: {value}")

name: Jupiter
number_of_moons: 79
number_in_solar_system: fifth
life_support: Nothing concrete we know of so far
others: gas_giant, biggest_planet, eternal_storms

In [48]:
for key in planet_info.keys():
    print(key)

name
number_of_moons
number_in_solar_system
life_support
others

In [49]:
for key in planet_info:
  print(key)

name
number_of_moons
number_in_solar_system
life_support
others

In [50]:
for value in planet_info.values():
    print(value)

Jupiter
79
fifth
Nothing concrete we know of so far
gas_giant, biggest_planet, eternal_storms

#### Dictionary Comprehension

In [51]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

In [52]:
new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [53]:
new_stocks_1 = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks_1)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [54]:
selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [55]:
#A dictionary comprehension iterates over items of a dictionary 
# and allows you to create a new dictionary by transforming or filtering each item.

selected_stocks_1 = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks_1)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

### Unpacking Tuples

In [56]:
a = tuple()
print(type(a))
print(a)

<class 'tuple'>
()

In [57]:
b = (1,)
print(b)

(1,)

In [58]:
c = (1)
print(type(c))

<class 'int'>

In [59]:
x, y = (1, 2)
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)

3
-1
2
0.5
0

In [60]:
x, y, z = 10, 20, 30

print(x + y +z)

60

In [61]:
x, y = 10, 20, 30

ValueError: ignored

In [62]:
x, y, _ = 10, 20, 30
print(_)

30

Extended unpacking using the * operator

In [63]:
r, g, *other = (192, 210, 100, 0.5)
print(other)
print(r)
print(g)

[100, 0.5]
192
210

In [64]:
x, y, *z, *t = (10, 20, 30, '10:30')

SyntaxError: ignored

Using the * operator on the right hand side

In [65]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

# The following example uses the * operator to unpack those tuples and merge them into a single tuple:

numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

#### *args

In [67]:
tup = (1, 2, 3, 4, 5)
tup1 = tuple(map(lambda x: x/2, tup))
# Print the output of tup1
print("(0.5, 1.0, 1.5, 2.0, 2.5)")

(0.5, 1.0, 1.5, 2.0, 2.5)

In [69]:
def func(val, dict):
  for key, value in dict.items():
    if val == value:
      return key
  return "Key does not exist for the provided value!"

moon_data = {
    "Mercury" : 0,
    "Venus" : 0,
    "Earth" : 1, 
    "Mars" : 2,
    "Jupiter" : 79,
    "Saturn" : 82, 
    "Uranus" : 27,
    "Neptune" : 14,
}

print(func(max(moon_data.values()), moon_data))      # Line 1
print(func(max(moon_data.values()) + 1, moon_data))  # Line 2

Saturn
Key does not exist for the provided value!

In [71]:
phy_concepts = ["Gravitational Lensing", "", "Black Holes", "Quantum Entanglment", "", "Photoelectric Effect", "", "Gravitational Waves"]

# Given List
phy_concepts = ["Gravitational Lensing", "", "Black Holes", "Quantum Entanglment", "", "Photoelectric Effect", "", "Gravitational Waves"]

# Code for removing the empty strings 
phy_concepts = list(filter(None, phy_concepts))

# Print the output
print(phy_concepts)

['Gravitational Lensing', 'Black Holes', 'Quantum Entanglment', 'Photoelectric Effect', 'Gravitational Waves']

In [72]:

lst = [1, 2, [3, 4, 5, [6], 7, 8, 9], 10, 12]

print(f"Original List:-  {lst}")

for i in list(range(2, 5)):

  if i == 2:
    for j in list(range(-3, 0)):
      lst[i][j] = lst[i][-j-1]
  
  else:
    lst[i] = lst[-i-1]

print(f"Altered List:-   {lst}")

Original List:-  [1, 2, [3, 4, 5, [6], 7, 8, 9], 10, 12]
Altered List:-   [1, 2, [3, 4, 5, [6], 5, 4, 3], 2, 1]